body {
    background-color: #04041f;
    color: #ccd6de;
    text-align: center;
    font-weight: bold;
}
h1 {
    margin-bottom: 60px;
}
h3 {
    margin-bottom: 40px;
}
#intro {
    margin-bottom: 40px;
}
.container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.score {
    margin-top: 50px;
}

.winner {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: 900;
}

button {
    padding: 8px 12px;
    background-color: #f3b543;
    border-radius: 4px;
}

#replay {
    display: none;
    margin-top: 20px;
    background-color: azure;
}